body{
        background-color: grey;
}
h1{
        color: white;
        font-size: 75px;
        text-align: center;
        }
 h2{
        color: red;
        font-size: 45px;
        text-align: center;
        }
h3, h4{
        color: orange;
        text-align: center;
}
p{
        color: white;
        font-size: 28px;
        text-align: center;
}

address{
        color: white;
        font-size: 20px;
        text-align: center;
}

button{
        a
}
