body{
        background-color: slateblue;
}
#data{
        font-size: 15px;
        border: 5px dotted rgb(2, 1, 216);
        padding: 1rem 1rem;
        vertical-align: middle;
        color: white;
}