body{
  background-color: rgb(56, 110, 6);
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

h1{
  font-size: 60px;
  color: rgb(24, 226, 253);
}

#temperature{
  color: yellow;  
  font-weight: bold;
  font-size: 100px;
}
