:root {
        --darkblue: #1B213B;
        --lightblue: #2b2c40;
        --blue: #696cff;
        --nbox: #262D47;
        --black: #232333;
        --font-color: #a3a4cc;
        --font-light: #cbcbe2;
        --white: #fff;
        --shadow: 0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
        ;
}

body {
        margin: 0%;
        /* color: rgb(3, 214, 207); */
        color: var(--font-light);
        background-color: var(--darkblue);
        font-size: 1.7vh;
        height: 100vh;
        text-align: center;
}

.patient_info {
        background-color: var(--nbox);
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 1%;
        border: 0.1vw outset blue;
        font-size: 0.9vw;
}

.left {
        width: 50%;
        height: 70vh;
        border-right: 00.1vw solid white;
}



.right {
        width: 50%;
        /* background-color: var(--nbox); */
        text-align: start;
}

.patient_info_right {
        padding-left: 10%;
}

img {
        width: 20%;
        height: 20%;
}

#button {
        background-color: #eb3461;
        /* Green */
        border: none;
        color: white;
        padding: 1.5%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5vw;
        cursor: pointer;
        border-radius: 15%;
}