.childRadial {
        border-radius: 10%;
        width: 12vw;
        height: 15vw;
        border: 0ch;
        margin-top: 1.5%;
        margin-right: 1%;
        margin-bottom: 2%;
        display: inline-block;
        border: 0.1vw ridge blue;
        padding: 1rem 1rem;
        vertical-align: middle;
        font-size: 1vw;
        color: white;
        background-color: var(--darkblue);
        box-shadow: var(--shadow);
        }

.childRadial h3 {
        margin: 0%;
}

#chargeSpan,
#tempSpan,
#pulseSpan,
#oxySpan {
        font-size: 5vw;
        color: greenyellow;
}

.leftScatter, rightScatter {
        display: flex;
}

.plot1left,
.plot2left{
        width: 50%;
        margin-bottom: 7vw;
}

.plot1right {
        width: 50%;
}
.plot2right {
        width: 50%;
}
