:root {
        --darkblue: #1B213B;
        --lightblue: #2b2c40;
        --blue: #696cff;
        --nbox: #262D47;
        --black: #232333;
        --font-color: #a3a4cc;
        --font-light: #cbcbe2;
        --white: #fff;
        --shadow: 0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
}

body {
        background-color: var(--darkblue);
        color: white;
        text-align: center;
}

.logs {
        background-color: var(--nbox);
}



/* .incident {
        font-size: 1vw;
        border: 0.2vw solid blue;
        margin: 2%;
        border-image: linear-gradient(45deg, rgb(14, 232, 119), blue) 10;
} */

.report{
        margin-top: 1vw;
        border: 0.1vw solid blue;
        border-radius: 1vw;
        font-size: 1.2vw;
}

div p {
        margin: 0px;
}