:root {
        --darkblue: #1B213B;
        --lightblue: #2b2c40;
        --blue: #696cff;
        --nbox: #262D47;
        --black: #232333;
        --font-color: #a3a4cc;
        --font-light: #cbcbe2;
        --white: #fff;
        --shadow: 0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
}

body {
        background-color: var(--darkblue);
        color: white;
        align-items: center;
        text-align: center;
}

.temp {
        display: inline-block;
        border-radius: 10%;
        width: 12vw;
        height: 15vw;
        border: 0ch;
        margin-top: 1.5%;
        margin-right: 1%;
        margin-bottom: 2%;
        display: inline-block;
        border: 0.1vw ridge blue;
        padding: 1rem 1rem;
        vertical-align: middle;
        font-size: 1vw;
        color: white;
        background-color: var(--darkblue);
        box-shadow: var(--shadow);
}

.temp h3 {
        margin: 0%;
}
