@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Mali:ital,wght@1,300&display=swap');

:root {
        --darkblue: #1B213B;
        --lightblue: #2b2c40;
        --blue: #696cff;
        --nbox: #262D47;
        --black: #232333;
        --font-color: #a3a4cc;
        --font-light: #cbcbe2;
        --white: #fff;
        --shadow: 0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
}

body{
        margin: 0%;
        /* color: rgb(3, 214, 207); */
        color: var(--font-light);
        background-color: var(--darkblue);
        font-size: 1.7vh;
        height: 100vh;
}

.main_container {
        background-color: var(--darkblue);
        display: flex;
}

.sidebar { 
        margin-top: 1%;
        border-radius: 10%;
        background-color: var(--nbox);
        width: 27%;
        height: 100vh;
        text-align: center;
        /* border-right: 0.5vw groove whitesmoke; */
        color: white;
        /* border-top-right-radius: 10%; */
}

#sidebar_name, #sidebar_id{
        margin: 0%;
}

.sidebar_title {
        color: white;
        background-color: #0377fc;
        border-radius: 4%;
        /* border: 1vw double rgb(19, 12, 95); */
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        box-shadow:  -10px 10px 10px rgb(0, 0, 0)
}

.sidebar_patiend_info {
        /* border: 2px solid white; */
        border-radius: 20%;
        margin: 5%;
        background-color: var(--darkblue);
        border: 0.1vw ridge blue;
}

.sidebar_item {
        margin-left: 20%;
        margin-right: 20%;
        /* background-color: rgb(255, 0, 68); */
        border-bottom: 0.2vw dotted rgb(103, 103, 130);
        font-size: 1vw;
        border-image: linear-gradient(45deg, rgb(1, 241, 169), blue) 10;
}

.content {
        margin: 1%;
        margin-left: 1.5%;
        height: 200vh;
        width: 100%;
        background-color: var(--nbox);
        align-items: center;
        text-align: center;
        border-radius: 2%;
}

#header_title {
        font-size: 2.7vw;
        margin: 0%;
}

#header_sub_title{
        margin: 0%;
        color: white;
}

#header_group {
        margin: 0%;
}

#card {
        background-color: var(--darkblue);
        border-radius: 2%;
        border: 0ch;
        margin: 1%;
        display: inline-block;
        border: 0.2vw outset white;
        padding: 1rem 1rem;
        vertical-align: middle;
        transition: border 0.3s, background-color 0.5s;
        box-shadow: -15px 20px 10px rgb(0, 0, 0);
        /* box-shadow: -10px 10px 10px rgb(10, 222, 162), */
                /* 10px -10px 10px rgba(0, 0, 255, 0.5); */
        width: 80%;
}

#title {
        margin: 0%;
}

.patient_info {
        display: flex;
}

.left {
        width: 50%;
        border-right: 0.2vw solid whitesmoke;
}
.right {
        width: 50%;
}

img {
        padding-top: 2vh;
        width: 70%; 
        height: 27%;
        border-radius: 50%;
        overflow: hidden;
}

.patient_info_right {
        margin: 0%;
} 

.patient_info_left {
        margin: 0%;
}


#uiu {
        color: rgb(247, 133, 3);
}

#footerX {
        font-size: 1.5vw;
}