:root {
        --darkblue: #1B213B;
        --lightblue: #2b2c40;
        --blue: #696cff;
        --nbox: #262D47;
        --black: #232333;
        --font-color: #a3a4cc;
        --font-light: #cbcbe2;
        --white: #fff;
        --shadow: 0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
}

body {
        background-color: var(--darkblue);
        text-align: center;
        color: white;
}

#about_head {
        font-size: 3vw;
}
h1, h2, h3 {
        margin: 0%;
}

p {
        font-size: 1.2vw;
}

.team {
        background-color: #262D47;
}

img {
        width: 12%;
}

#member {
        display: inline-block;
}

#member_img1, #member_img2, #member_img3, #member_img4 {
        height: 10vw;
        width: 15vw;
        overflow: hidden;
        z-index: 1;
        object-fit: contain;
        /* border-radius: 500%; */
}

#coordinator, #team_members {
        color: orangered;
}

#our_team {
        color: greenyellow;
}